/* **************************** */
/* HEADER */
/* **************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #111; */
  height: 8rem;
  padding: 4.8rem;
}

.logo-name {
  font-size: 4.8rem;
  text-decoration: none;
  color: #eee;
  text-wrap: nowrap;
}

.mani-nav-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #eee;
  font-size: 2rem;
  transition: 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cd00cb;
}

/* **************************** */
/* HERO */
/* **************************** */

.section-hero {
  padding: 20rem 0 0 0;
  /* height: 100vh; */
  min-height: 48rem;
  /* z-index: -2; */
}

.hero {
  position: relative;
}

.hero-heading {
  padding-top: 12.8rem;
}

.hero-focus-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.8rem 0 32rem 0;
}

.glow {
  text-shadow:
    0 0 5px #eee,
    0 0 15px #eee,
    0 0 40px #cd00cb,
    0 0 75px #cd00cb,
    2px 2px 2px #111;
  color: #eee;
}

.jd-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48rem;
  transform: translate(-50%, -40%);
  z-index: -1;
  opacity: 0.5;
}

.hero-focus-text {
  font-weight: 500;
  font-size: 9.8rem;
  letter-spacing: 10px;
  padding-bottom: 1.6rem;
  z-index: +1;
}

.hero-focus-box::before {
  display: block;
  position: absolute;
  content: "";
  width: 01%;
  padding-bottom: 00%;
  background-color: #cd00cb;
  border-radius: 50%;
  box-shadow: 0px 0px 139px 120px hsla(249, 100%, 50%, 0.2);
  transform: translate(100%, 100%);
}

.hero-heading {
  display: flex;
  justify-content: center;
}

/* **************************** */
/* WEB DESIGN GALLERY */
/* **************************** */

.gm-dv-app-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 6.4rem;
}

.section-web-design {
  padding-bottom: 32rem;
}

.heading-secondary {
  padding-bottom: 12.8rem;
}

.wb-dsgn-prjt-name {
  font-weight: 700;
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  color: #810795;
  padding: 2rem 0 2rem 0;
  border-radius: 20px;
  background: linear-gradient(to right, #0d010f, #181716, #0d010f, #0d010f);
}

.wb-dsgn-img-box {
  display: flex;
  justify-self: right;
  margin-top: auto;
  background: linear-gradient(to left, #8207955d, #0d010f);
}

.wb-dsgn-img {
  height: 40rem;
}

.wb-dsgn-descr-box {
  align-self: center;
}

.wb-dsgn-prjct-dscr {
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: 1.2px;
  padding: 0 0 2.4rem 4.8rem;
}

.highlight {
  color: #c083ca;
}

.wb-dsgn-btn-box {
  display: flex;
  justify-content: right;
  padding-right: 4.8rem;
}

.link {
  font-size: 3.6rem;
  justify-content: right;
  background-color: #c083ca;
  /* background-color: #27022d; */
  color: #ffede1;
  border-radius: 10px;
  padding: 10px;
  outline: 5px solid #ffede1;
}

.link:link,
.link:visited {
  color: #27022d;
  /* color: #c083ca; */
}

.link:hover,
.link:active {
  color: #ffede1;
}

/* **************************** */
/* GAME DEVELOPMENT GALLERY */
/* **************************** */

.game-box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid #c183ca1f;
  box-shadow: 10px 10px 50px #c183ca25;
  padding: 10px;
}

.gm-dv-app-name {
  font-weight: 700;
  font-size: 4.4rem;
  color: #810795;
  padding-bottom: 2rem;
  border-radius: 20px;
}

.cntrbtn-list {
  font-size: 2.4rem;
  list-style: inside;
  margin-left: 2rem;
  padding-top: 2rem;
}

.gm-dv-app-img-box {
  display: flex;
  background: linear-gradient(to right, #8207955d, #0d010f);
  /* border-radius: 20px; */

  /* justify-content: center; */
  height: 20rem;
}

/* **************************** */
/* FOOTER */
/* **************************** */
.footer {
  font-size: 1.6rem;
  color: #eee;
}
