/* ***************** */
/* below 896px */
/* ***************** */

@media (max-width: 93em) {
  .word {
    font-size: 3rem;

    background-color: #040809;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
}

/* ***************** */
/* below 896px */
/* ***************** */

@media (max-width: 56em) {
  .word {
    font-size: 2rem;
    background-color: #040809;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
}

/* ***************** */
/* below 560px */
/* ***************** */

/* @media (max-width: 35em) {
  .word {
    font-size: 1rem;
    background-color: #040809;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
} */
